.intro {
  .intro__title {
    @include style-text(18px, 26px, bold);
  }
  .intro__text {
    @include style-text(14px, 26px, normal);
    color: $lite-dark;
  }
}

.intro--index {
  .intro__header--index {
    background: #000;
    width: 200px;
    height: 200px;
  }
}
